.container {
  max-width: 1200px;
  min-height: 100px;
  background: #eee;
  padding: 30px;
  margin: 0 auto;
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
}

.post {
  background: #fff;
  box-shadow: 0 1px 3px rgba (0, 0, 0.2);
  border-radius: 8px;
  transition: transform 150ms ease-in-out;

}

.post:hover {
  transform: scale(1.07)
}

.text{
  padding: 10px;
}

.post img {
  max-width: 100%;
}
